<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for ('static', filename="css/bootstrap.min.css")}}">
	<link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">

	<title>SIM PENGADUAN</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for ('vmahasiswa.home')}}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for ('vmahasiswa.about')}}">About</a>
					</li>
					{%if current_user.is_authenticated%}

					{%else%}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for ('vmahasiswa.login_mahasiswa')}}">Login Mahasiswa</a>
					</li>
					{%endif%}
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8">
				<div class="shadow p-3 mb-5 bg-white rounded">

					<!--flash-->
					{% with messages= get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category, massage in messages %}

					<div class="alert alert-{{category}}">
						{{massage}}
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}

					{% block content %}

					{% endblock %}

				</div>
			</div>

			<div class="col-md-4">
				<div class="shadow p-3 mb-5 bg-white rounded">
					{%if current_user.is_authenticated%}
					<div class="card" style="width: 18rem;">
						<img src="{{url_for('static', filename="img/" + current_user.foto)}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{current_user.nama}}</h5>
							<p class="card-text">{{current_user.email}}</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><a href="{{ url_for ('vmahasiswa.akunmahasiswa')}}">Dasboard</a></li>
							<li class="list-group-item"><a href="{{ url_for ('vmahasiswa.pengaduan')}}">Pengaduan</a></li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
						<div class="card-body">
							<a href="{{ url_for ('vmahasiswa.editmahasiswa')}}" class="card-link">Update Data</a>
							<a href="{{ url_for ('vmahasiswa.logout_mahasiswa')}}" class="card-link">logout</a>
						</div>
					</div>
					{%else%}
					<span>NAMA : YANI SRI P. IRAWAN</span><br>
					<span>NPM  : 121055520118049</span><br>
					<span>KELAS: INFO 2</span>
					{%endif%}

				</div>
			</div>

		</div>

	</div>
	</div>


	<script src="{{url_for('static', filename='js/jquery-3.5.1.slim.min.js')}}"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='js/popper.min.js')}}"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>